html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: lato;
}

body {
  width: 1170px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

.w-39 {
  width: 39%;
  overflow: hidden;
}

.w-60 {
  width: 60%;
}

.w-45 {
  width: 45%;
  animation: 2s ease-in-out fadeInLeft;
}

.w-33 {
  width: 33%;
  display: flex;
}

.w-33 ul {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.grid-container-paris {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}

header {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  width: 60%;
  color: #004e60;
  font-size: 27px;
  font-weight: 900;
  animation: 2s ease-in-out both fadeInLeft;
}

header .logo img {
  margin-right: 15px;
  animation: 4s infinite idle;
}

header nav {
  width: 60%;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

header nav ul li a {
  color: #004e60;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

header nav ul li a:active {
  color: #004e60;
  font-weight: 700;
}

header nav ul li a:visited {
  color: #004e60;
  font-weight: 700;
}

header nav ul li a:hover {
  color: #ff5f2e;
}

header nav ul .active {
  color: #ff5f2e;
}

.active {
  color: #ff5f2e;
}

.active:active {
  color: #ff5f2e;
  font-weight: 700;
}

.active:visited {
  color: #ff5f2e;
  font-weight: 700;
}

footer {
  animation: 0.7s ease-in-out fadeInTop;
}

footer #footer-top {
  background: #004e60;
  padding: 2rem 0;
}

footer #footer-top ul {
  display: flex;
  justify-content: space-evenly;
}

footer #footer-top ul li .footer-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 600;
}

footer #footer-top ul li .footer-menu img {
  width: 75px;
}

footer .legal {
  display: flex;
  background: #e1eef6;
  padding: 1rem 0.5rem;
  border-bottom: 10px solid #ff5f2e;
}

footer .legal a {
  text-decoration: none;
  color: black;
}

footer .legal a:visited {
  color: black;
}

footer .legal a:hover {
  text-decoration: underline;
}

footer .legal a:active {
  color: black;
}

.row {
  width: 100%;
  margin: 20px auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

.column-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 22px;
}

.column-2 .title {
  color: white;
}

.form {
  background: #004e60;
  padding: 1rem;
  height: 100%;
}

.formulaire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

input {
  height: 2rem;
  background: white;
  border: 1px solid #ff5f2e;
  padding: 0 6px;
}

.confirm {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.confirm button {
  padding: 0.7rem 3rem;
  background: #ff5f2e;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 4px;
}

button {
  color: white;
}

label {
  color: white;
  font-weight: 600;
  margin-bottom: 5px;
}

.button-price {
  display: flex;
  justify-content: space-between;
}

.button-price .price-tag {
  border-radius: 4px;
}

.button-price button {
  border: none;
  background: #ff5f2e;
  width: 200px;
  height: 30px;
  font-weight: 700;
  border-radius: 4px;
}

.deal {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(245, 245, 245, 0.73)), url("./assets/amsterdam.jpeg");
  height: 100%;
  padding: 1rem 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.deal .dealTitle {
  font-weight: 600;
}

.price-tag {
  height: 40px;
  width: 60px;
  background: #fcbe32;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0 0 4px;
  font-weight: 600;
}

.destination {
  padding: 1rem 0 1rem 1rem;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center;
  animation-name: fadeInTop;
  animation-duration: 2s;
  animation-fill-mode: both;
}

.destination h2 {
  color: #ff5f2e;
  font-weight: 800;
}

.destination:nth-child(1n) {
  animation-delay: 0.25s;
}

.destination:nth-child(2n) {
  animation-delay: 0.5s;
}

.destination:nth-child(3n) {
  animation-delay: 0.75s;
}

.destination:nth-child(4n) {
  animation-delay: 1s;
}

.destination:nth-child(5n) {
  animation-delay: 1.25s;
}

.destination:nth-child(6n) {
  animation-delay: 1.5s;
}

.destination:nth-child(7n) {
  animation-delay: 1.75s;
}

.destination:nth-child(8n) {
  animation-delay: 2s;
}

h3 {
  text-align: center;
}

.sydney {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(245, 245, 245, 0.73)), url("./assets/sydney.jpeg");
}

.rio {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(245, 245, 245, 0.73)), url("./assets/rio.jpeg");
}

.cusco {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(245, 245, 245, 0.73)), url("./assets/cusco.jpeg");
}

.delhi {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(245, 245, 245, 0.73)), url("./assets/delhi.jpeg");
}

.hongkong {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(245, 245, 245, 0.73)), url("./assets/hongkong.jpeg");
}

.katmandou {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(245, 245, 245, 0.73)), url("./assets/katmandou.jpg");
}

.tokyo {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(245, 245, 245, 0.73)), url("./assets/tokyo.jpeg");
}

.lisbonne {
  background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.2), rgba(245, 245, 245, 0.73)), url("./assets/lisbonne.jpeg");
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center button {
  background: #ff5f2e;
  width: 330px;
  height: 30px;
  border: none;
}

.paris {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.73)), url("./assets/tokyo.jpeg");
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 200px;
  flex-direction: column;
  animation: 0.7s ease-in-out fadeInBottom;
}

.text h2 {
  margin-top: 15px;
  display: flex;
  padding: 0.5rem;
  border-left: 8px solid #ff5f2e;
}

.contact {
  background: none;
  gap: 0;
}

.contact label {
  color: black;
}

.contact textarea {
  height: 180px;
}

.contact-banner {
  background-image: url("/assets/amsterdam.jpeg");
}

.terms {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.73)), url("./assets/tokyo.jpeg");
}

.mobile {
  display: none;
}

.menu img {
  width: 30px;
}

.close-menu img {
  width: 30px;
}

.close-menu, .menu {
  display: none;
}

.menu {
  display: none;
}

@media screen and (max-width: 1170px) {
  body {
    width: 100%;
  }
  .container {
    flex-direction: column;
  }
  .w-39 {
    width: 100%;
    overflow: hidden;
  }
  .w-60 {
    width: 100%;
  }
  .w-45 {
    width: 100%;
  }
  .w-33 {
    width: 100%;
    display: flex;
  }
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  footer #footer-top ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
  .legal {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .legal ul {
    width: 100%;
    align-self: center;
    justify-self: center;
  }
  .legal ul li {
    width: 100%;
    text-align: center;
  }
  .formulaire {
    grid-template-columns: 1fr;
  }
  .confirm {
    justify-content: center;
  }
  .confirm button {
    width: 100%;
  }
  .paris {
    flex-direction: column-reverse;
  }
  .grid-container-paris {
    display: grid;
    grid-template-columns: 1fr;
  }
  .desktop {
    display: none;
  }
  .menu {
    display: block;
  }
  .mobile {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
    background: white;
    width: 100%;
  }
  .mobile ul {
    flex-direction: column;
  }
  .mobile ul li {
    margin: 5px auto;
    border: 1px solid black;
    width: 90%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes idle {
  0% {
    transform: rotate(75deg);
  }
  50% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(75deg);
  }
}
/*# sourceMappingURL=index.css.map */